.deed-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  width: 60%;
  height: 10%;
  gap: 8%;
  background-color: #111;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -101%);
  transition: transform 0.4s ease;
  z-index: -1;
}

.deed-actions.visible {
  transform: translate(-50%, 10px);
}

.deed-actions button {
  background: white;
  border: none;
  padding: 0.3em 0.9em;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: white;
  transition: background 0.2s ease;
}

.deed-actions button:nth-child(1) {
  background: #28a745;
}

.deed-actions button:nth-child(2) {
  background: #007bff;
}

.deed-actions button:nth-child(1):hover {
  background: #218838;
}

.deed-actions button:nth-child(2):hover {
  background: #0069d9;
}