.game-board {
  display: grid;
  grid-template-columns: 1.5fr repeat(9, 1fr) 1.5fr;
  grid-template-rows: 1.5fr repeat(9, 1fr) 1.5fr;
  user-select: none;
  position: relative;
  aspect-ratio: 1 / 1;
  max-width: 90vmin;
  margin: 20px;
  padding: 1vmin;
  gap: 1px;
  border-radius: 6px;
  background-color: black;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.center-tile {
  grid-column: 2 / 11;
  grid-row: 2 / 11;
  z-index: 0;
  background-color: #d1ecf1;
}

.tile {
  gap: 2px;
  overflow: hidden;
  background-color: white;
  color: #555;
  transition: transform ease 0.3s, outline ease-in 1s;
}

.tile.highlight {
  z-index: 12;
  outline: 1px solid #000000;
  transform: scale(1.1);
}

.tile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: left top;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 13px;
  letter-spacing: -0.8px;
  line-height: 1;
  text-align: center;
}

.tile-content.rotate-90 {
  transform: rotate(90deg) translateY(-100%);
}

.tile-content.rotate-180 {
  transform: rotate(180deg) translate(-100%, -100%);
}

.tile-content.rotate--90 {
  transform: rotate(270deg) translateX(-100%);
}

.tile-content img {
  margin-top: auto;
}

.corner {
  background-color: #f8d7da;
  font-weight: bold;
}

.color-stripe {
  height: 20%;
  width: 100%;
  border: 1px solid black;
}

.tile-label {
  margin-top: 2px;
}

.tile-price {
  margin: 8px 0 3px 0;
  font-size: 11px;
}

.tile-timer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: black;
  opacity: 0.05;
  pointer-events: none;
}

.tile-timer.hidden {
  opacity: 0;
}

/* in mobile */
@media screen and (max-width: 768px) {
  .game-board {
    max-width: 98vmin;
    margin: 0;
    margin-top: 20px;
  }

  .tile-content {
    font-size: 6px;
    gap: 0;
  }

  .tile-label {
    margin-top: 1px;
  }

  .tile-price {
    margin: 3px 0 1px 0;
    font-size: 5px;
  }

  .color-stripe {
    height: 15%;
  }
}