.buildings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin-left: 3%;
}

.buildings {
  position: relative;
  width: 10vmin;
  height: 20%;
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  border: 2px dashed  black;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.building {
  --width: 3vmin;
  position: absolute;
  width: var(--width);
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.1));
}

.building.lift {
  position: absolute;
}

/* in mobile */
@media screen and (max-width: 768px) {
  .buildings-container {
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 12%;
  }

  .buildings {
    width: 15%;
    height: 6vmin;
  }
}