.card-pile, .card-wrapper {
  position: absolute;
  width: 10%;
  height: 16%;
  transform: rotate(45deg);
}

.card-pile, .card-front, .card-back {
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  border: 2px solid #333;
}

.card-pile {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  border-width: 2px 5px 5px 2px;
}

.card-wrapper {
  z-index: 4;
  visibility: hidden;
  transition: left 0.6s ease, top 0.6s ease, visibility 0.6s ease, transform 0.6s ease;
}

.card-wrapper.visible {
  z-index: 99;
  visibility: visible;
  transform: translate(-50%, -50%) scale(2);
}

.card-pile img, .card-back img {
  height: 80%;
}

.card-3d {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.card-wrapper.visible .card-3d {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.card-front {
  font-size: 8px;
  font-weight: bold;
  background: #fffbe6;
  color: #333;
  transform: rotateY(180deg);
}

.card-front p {
  padding: 10%;
}

/* in mobile */
@media screen and (max-width: 768px) {
  .card-front {
    font-size: 4px;
  }

  .card-wrapper.visible {
    transform: translate(-50%, -50%) scale(4);
  }
}