.sidebar {
  width: 200px;
  z-index: 10;
  margin-left: auto;
  user-select: none;
  background-color: #bbb;
}

#player-list {
  background-color: #ddd;
}

.player-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
}

.player-money {
  text-align: right;
  transition: color 0.3s, transform 0.3s;
}

.player-money.increased {
  color: green;
  transform: scale(1.2);
}

.player-money.decreased {
  color: red;
  transform: scale(1.2);
}

.turn-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.timer-info {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* in mobile */
@media screen and (max-width: 768px) {
  .sidebar {
    margin-left: 0;
    margin-top: auto;
  }
}